body{
    background-color: white;
    margin:0;
    padding:0;
}
.head3{
    border-bottom: 5px black solid;
    width: 100%;
    padding:5px 10px;
}
.head2 img{
    width: 100%;
}
.head{
    background-color: bisque;
}
.head5 h1{
    float: left;
    padding: 5px 2px 5px 50px;
}