body{
    background-color: #332a23;
    margin:0;
    padding:0;
}
.top{
    background:white ;
    padding:  0;
}
.topper{
    background-color: rgb(219, 184, 142);
    height: 750px;
   
}
 
.top1 img{
    width:150px;
    border-radius:70px;
    padding: 10px 0;
    margin-left:120px;
    
}
.top2{
    border-bottom: 5px black solid;
    width: 100%;
    padding:10px 10px;
   
}
.top h2{
   color: white;
   text-align: center;
   
  
}
.top3 h2:hover{
    color: black;
}
.top4 h1:hover{
    color: rgb(17, 134, 197);
}
.top4{
    float: left;
    margin-right: 13px;
    padding: 30px 0px;
   
}


.top4 h1{
    text-align:center;
    margin-left: 40px;
}
.top5 img{
    width:100%;
    padding: 10px 0;
}
.second img{
    width: 100%;
   
    padding: 10px 0px;
}
.second{
    background-color: #332a23;
    padding: 15px 0;
}
.SECOND2 h1{
    text-align: center;
    color: white;
    padding: 10px 0 0 0;
    margin-top:50px;
}
.SECOND2 h4{
    color: antiquewhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    padding:0 0 10px 0;
    
}
.SECOND2 h3{
    color:#CB763C;
    border: 1px solid black;
    padding: 10px 0px ;
    text-align: center;
   margin-bottom: 10px;
   background-color: beige;

}
.SECOND2 h3:hover{
color: rgb(70, 13, 18);
background-color: aliceblue;
}
.third{
    background-color: wheat;
    padding: 10px 0;
    
}
.third h1{
    text-align: center;
    color: rgb(54, 52, 52);
    padding: 10px 0;
    text-shadow: 3px 2px grey;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.third img{
     width:300px;
    margin-left: 80px;
   
}
.third h2{
    text-align: center;
}
.third h4{
    text-align: justify;
    font-size:15px;
}
.fourth{
    background-color: aliceblue;
    padding: 10px 0;
}
.fourth img{
    width: 100%;
}
.fourth h1{
    text-align: center;
    color: rgb(54, 52, 52);
    padding: 10px 0;
    text-shadow: 3px 2px grey;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fourth h2{
    text-align: center;
}
.fourth h4{
    text-align:center;
    font-size:20px;
}
.fifth{
    background-color: gray;
}
.fifth img{
    width: 100%;
}
.fifth h1{
    text-align: center;
}
.fifth h2{
    color: grey;
    text-align: justify;
}
.fifth h4{
    text-align:justify;
    font-size:20px;
}
.sixth{
    background-color: aliceblue;
    padding: 10px 0;
}
.sixth h2{
    color:brown;
    text-align: justify;
    padding: 20px 0 0 0 ;
}
.sixth button{
    padding: 5px 10px;
    background-color: #CB763C;
    text-align: center;
}
.foot{
    background-color:#332a23 ;
    padding: 20px 0;
}

.foot1{
    font: size 500px;
    text-align: center;
    color: #CB763C;
}
.foot2 h2{
    text-align: center;
    color: aliceblue;
    padding: 5px 0px;
}
.foot2 h4{
    font-size: 15px;
    text-align: center;
    color: aliceblue;
    padding:0 0 80px 0;
}

.contact{
    padding: 4%;
    height: 600px;
}
.contact .col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;

}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
   
}
.contact-form button{
    background-color: #332a23;
    color: #fff;
    font-weight: 600;
    width: 25%;
    padding: 10px 20px;
    margin-top:8px;
}
.contact-form button:hover{
    box-shadow:none;
    background-color:black;
    
    color: #ff9b00;
    
}
#carouselExampleCaptions{
    padding: 0;
    margin-top: -30px;
   
}
